// font
$main-font: 'OpenSans';

// breakpoints
$tablet-width: 768px;
$laptop-width: 1280px;
$desktop-width: 1536px;

//colors
$color-border: #D9D9D9;
$color-text-main: #000;
$color-text-grey: #A7A7A7;
